@tailwind base;
@tailwind components;
@tailwind utilities;




.slick-next{
    right: 1% !important;
    z-index:1;
    color: black;
    
}

.slick-prev{
    left:  1% !important;
    z-index:1;
    color: black;
    
}